body {
  background-color: black;
  color: red;
}

header{
  display: grid;
  align-items: center;
  justify-content: center;
}
.site-header{
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0px;
}

.fire-border-row{
  display: flex;
  justify-content: center;
 
}  
.fire-border{
  margin-left: -30px;
  margin-right: -30px;
}

.blinkies-top{
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}

.main-site-body{
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 25px;
  margin: 0vh 15vw 0vh 15vw ;
}

main{
  border-style: solid;
  border-color: red;
}

nav{
  border-style: solid;
  border-color: red;
}


/*Scrapped guest book embed*/
/*.guest-book{*/
/*  border-style: solid;*/
/*  border-color: red;*/
/*}*/

.nav-header{
  background-color:red;
  color:black;
  margin: 0;
  padding: 5px 5px 5px 10px;
}

/*.guest-book-frame{*/
/*  border: none;*/
/*}*/

.main-body-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-section-box{
  /*
  border-style: solid;
  border-color: red;
  border-width: 1px;*/
  margin: 0px 25px 25px 25px
}

.greeting{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.main-body-section-header{
  background-color: red;
  color: black;
  padding: 5px 5px 5px 10px;
  margin-left: 10px;
}

.text-content{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  font-size: 16px;
}

/*marquee*/
.marquee-wrapper{
  overflow: hidden;
  width: 100%;
}

.marquee-track{
  display:flex;
  width: max-content;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}